*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

.slider {
    height:100vh;
    width:100vw;
    position: relative;
    overflow: hidden;
}