@import "reset";
@import "slides";
@import "button";

/* we will set our header content font side based on this mixin */
@mixin for-size($size) {
    @if $size == small-device {
      @media (max-width: 365px) { @content; }
    } @else if $size == phones-and-tabs {
      @media (min-width: 768px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1024px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1600px) { @content; }
    }
  }



.slide .content {
    position: absolute;
    top: 50%;
    color: white;

    /* opacity is the visual cue that the slide is focussed
    opacity 0 means this is not the current slide */
    opacity: 0;
    padding:10px;
    margin:10px;

    /* include this font size mixin as it varies on different devices */
    h1 {

        @include for-size(small-device) {    
            font-size: 30px; 
         }
         @include for-size(phones-and-tabs) {    
            font-size: 50px; 
         }
         @include for-size(desktop-up) {    
            font-size: 70px; 
         }
         @include for-size(big-desktop-up) {    
            font-size: 100px; 
         }
    }

    button.cta {

        @include for-size(small-device) {    
            font-size: 15px; 
         }
         @include for-size(phones-and-tabs) {    
            font-size: 25px; 
         }
         @include for-size(desktop-up) {    
            font-size: 30px; 
         }
         @include for-size(big-desktop-up) {    
            font-size: 30px; 
         }
    }
}

/* when not the focussed (odd) slide, pull the content out to left*/
.slide:nth-child(odd) .content {
    left:-600px;
}

/* when not the focussed (odd) slide, push the content out to right*/
.slide:nth-child(even) .content{
    right:-100px;
}

/* add the styles for the current slide if it's an odd slide
the text transition occurs from left to right */
.slide:nth-child(odd).current .content {
    opacity: 1;
    transform: translateX(700px);
    transition: all 0.7s ease-in-out 0.3s;
}

/* add the styles for the current slide if it's an even slide
the text transition occurs from right to left */
.slide:nth-child(even).current .content {
    opacity: 1;
    transform: translateX(-200px);
    transition: all 0.7s ease-in-out 0.3s;
}

@media only screen and (max-width:768px) {

    /* for any screen less than 768px
    * use the Mobile specific images */
    .slide:first-child{
        background:url("../data/Slide-1-MB.jpg") no-repeat center center/cover;
    }
    .slide:nth-child(2){
        background:url("../data/Slide-2-MB.jpg") no-repeat center center/cover;
    }

}

@media only screen and (min-width:365px) and (max-width: 768px){
  
    .slide .content {
        position: absolute;
        bottom: 20%;
        color: white;
        font-size: 20px;
        opacity: 0;
        padding:10px;
        margin:10px;
    }
    .slide:nth-child(odd) .content {
        left:-150px;
    }

    .slide:nth-child(even) .content{
        right:-100px;
    }

    .slide:nth-child(odd).current .content {
        opacity: 1;
        transform: translateX(170px);
        transition: all 0.7s ease-in-out 0.3s;
        border-radius: 5px;
    }

    /* add the styles for the current slide */
    .slide:nth-child(even).current .content {
        opacity: 1;
        transform: translateX(-150px);
        transition: all 0.7s ease-in-out 0.3s;
        border-radius: 5px;
    }
    button.nav {
        top:50%;
        height:35px;
        width:50px;
    }
}
@media only screen and (max-width:365px){

    .slide .content {
        position: absolute;
        top:57.5%;
        color: white;
        font-size: 10px;
        opacity: 0;
        padding:10px;
        margin:10px;
    }
    .slide:nth-child(odd) .content {
        left:-100px;
    }

    .slide:nth-child(even) .content{
        right:-100px;
    }

    .slide:nth-child(odd).current .content {
        opacity: 1;
        transform: translateX(100px);
        transition: all 0.7s ease-in-out 0.3s;
        border-radius: 5px;
    }

    /* add the styles for the current slide */
    .slide:nth-child(even).current .content {
        opacity: 1;
        transform: translateX(-100px);
        transition: all 0.7s ease-in-out 0.3s;
        border-radius: 5px;
    }

    /* any small devices, make the buttons hidden
    but ensure that click propery remains 
    enlarge the are of the click */
    button.nav {
        top:2%;
        height:100%;
        opacity: 0;
        width:10%;
    }
}

@media only screen and (min-width:1600px){

}